# Home Assistant App (Add-on): Cloudflared

[![GitHub Release][releases-shield]][releases]
![Project Stage][project-stage-shield]
![Project Maintenance][maintenance-shield]
{% if channel == "stable" %}
![Reported Installations][installations-shield-stable]

{%- else -%}
![Reported Installations][installations-shield-edge]

{% endif %}


Connect remotely to your Home Assistant instance without opening any ports using
Cloudflared.

## About

Cloudflared connects your Home Assistant Instance via a secure tunnel to a domain
or subdomain at Cloudflare. Doing that, you can expose your Home Assistant to the
Internet without opening ports in your router. Additionally, you can utilize
Cloudflare Teams, their Zero Trust platform to further secure your Home Assistant
connection.

**To use this app (add-on), you have to own a domain name (e.g. example.com) that is
using Cloudflare for its DNS entries. You can find more information about that
in our [Wiki][wiki]**.

## Disclaimer

Please make sure to be compliant with the
[Cloudflare Self-Serve Subscription Agreement][cloudflare-sssa] when using this
app (add-on).

{% if channel == "edge" %}
## WARNING! THIS IS AN EDGE VERSION!

This Home Assistant App (Add-on) repository contains edge builds of apps (add-ons).
Edge builds apps (add-ons) are based upon the latest development version.

- They may not work at all.
- They might stop working at any time.
- They could have a negative impact on your system.

This repository was created for:

- Anybody willing to test.
- Anybody interested in trying out upcoming apps (add-ons) or app (add-on) features.
- Developers.

If you are more interested in stable releases of our apps (add-ons):

<https://github.com/homeassistant-apps/repository>

{% endif %}
{% if channel == "beta" %}
## WARNING! THIS IS A BETA VERSION!

This Home Assistant Apps (Add-ons) repository contains beta releases of apps (add-ons).

- They might stop working at any time.
- They could have a negative impact on your system.

This repository was created for:

- Anybody willing to test.
- Anybody interested in trying out upcoming apps (add-ons) or apps (add-ons) features.

If you are more interested in stable releases of our apps (add-ons):

<https://github.com/homeassistant-apps/repository>

{% endif %}
[cloudflare-sssa]: https://www.cloudflare.com/terms/
[domainarticle]: https://www.linkedin.com/pulse/what-do-domain-name-how-get-one-free-tobias-brenner?trk=public_post-content_share-article
[maintenance-shield]: https://img.shields.io/maintenance/yes/2025.svg
[project-stage-shield]: https://img.shields.io/badge/project%20stage-production%20ready-brightgreen.svg
[releases-shield]: https://img.shields.io/github/v/release/homeassistant-apps/app-cloudflared?include_prereleases
[releases]: https://github.com/homeassistant-apps/app-cloudflared/releases
[wiki]: https://github.com/homeassistant-apps/app-cloudflared/wiki/How-tos
[installations-shield-edge]: https://img.shields.io/badge/dynamic/json?url=https%3A%2F%2Fanalytics.home-assistant.io%2Faddons.json&query=%24%5B%22ffd6a162_cloudflared%22%5D.total&label=Reported%20Installations&link=https%3A%2F%2Fanalytics.home-assistant.io/add-ons
[installations-shield-stable]: https://img.shields.io/badge/dynamic/json?url=https%3A%2F%2Fanalytics.home-assistant.io%2Faddons.json&query=%24%5B%229074a9fa_cloudflared%22%5D.total&label=Reported%20Installations&link=https%3A%2F%2Fanalytics.home-assistant.io/add-ons
